
@{
    ViewBag.Title = "NoteList";
}
<style>
    main {
        margin-top: 20px; /* 设置 main 元素顶部的外边距 */
    }

    h2 {
        font-size: 1.2em;
        margin-bottom: 10px; /* 设置标题底部的外边距 */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<main aria-labelledby="title">
    <h2 id="title"  style="font-size: 1.2em;">@ViewBag.Title</h2>
    <!--<h3>@ViewBag.Message</h3>-->
    @if (Model != null)
    {
        <table>
            <thead>
                <tr>
                    <th>NoteID</th>
                    <th>UserID</th>
                    <th>NoteBookID</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>CreatedDate</th>
                    <th>UpdatedDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var noteBook in Model)
                {
                    <tr>
                        <td>@noteBook.NoteID</td>
                        <td>@noteBook.UserID</td>
                        <td>@noteBook.NoteBookID</td>
                        <td>@noteBook.Title</td>
                        <td>@noteBook.Content</td>
                        <td>@noteBook.CreatedDate</td>
                        <td>@noteBook.UpdatedDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No user data available.</p>
        <h3>@ViewBag.ErrorMessage</h3>
    }
</main>